@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Petit Formal Script;
    }


}
.dialog {
   position: sticky;
   left: -200px;
   top: 0; 
   margin-top: -80px;
   float: left;
    z-index: 99;
  
}
.dialog-image{
 z-index: 100;
}

.carousel-item {
 z-index: 1;
 position: relative;
}

.puppy {
    z-index: 1;
}